<h1>Form Detail</h1>
<br>
<div style="text-align: left;">
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <div class="form-group"></div>
    <div class="col-sm-6">
      <label for="male">Name   :</label>
       <input type = "text" class="form-control" name = "name" placeholder = "Enter the name" formControlName = "name" required>
      </div>
      <div class="col-sm-6">
        <label for="male">Date   :</label>
         <input type = "date" class="form-control" name = "date" placeholder = "Enter the date" formControlName = "date" required>
        </div>
    <div class="col-sm-6">
    <label for="male">Eamil   :</label>
     <input type = "text" class="form-control" name = "emailid" placeholder = "Enter the email" formControlName = "emailid" required>
    </div>
    <div class="col-sm-6">
     <label for="male">Password   :</label>
     <input type = "password" class = "form-control" name = "passwd" placeholder = "Enter the password" formControlName = "passwd" required>
     </div>
     <div class="col-sm-6">
     <label for="male">Address   :</label>
     <input type = "address" class = "form-control" name = "address" placeholder = "Enter the address" formControlName = "address" required>
    </div>
    <div class="col-sm-6">
     <label for="male">Mobile   :</label>
     <input type = "mobile" class = "form-control" name = "mobile" placeholder = "Enter the mobile number" formControlName = "mobile" required>
    </div>
    <div class="col-sm-6">
      <label for="male">City   :</label>
      <select class = "form-control" name="city" id="city" placeholder = "Choose the city" formControlName = "city" required> 
        <option value="Kerala">Kerala</option>
        <option value="Noida">Noida</option>
        <option value="Delhi">Delhi</option>
        <option value="Goa">Goa</option>
      </select>
    </div>
    <br>
     <div class="col-sm-6">
     <input type = "submit" class="btn btn-primary" value = "Submit">
    </div>
  </form>
</div>
<br>
<p>
  Name entered is : {{name}}
</p>
<p>
  Date entered is : {{date}}
</p>
<p>
  Email entered is : {{emailid}}
</p>
<p>
  Password enterd is: {{passwd}}
</p>
<p>
  Address enterd is: {{address}}
</p>
<p>
  Mobile enterd is: {{mobile}}
</p>
<p>
  City enterd is: {{city}}
</p>



